    body {
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 12pt "Tahoma";
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .page {
        width: 21cm;
        min-height: 29.7cm;
        padding: 0cm;
        margin: 1cm auto;
        border: 0px #D3D3D3 solid;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .label {
        padding: 1cm;
        border: 1px red solid;
        width: 70mm;
        height: 42.3mm;
        outline: 0cm #FFEAEA solid;
        float: left;
    }
    
    @page {
        size: A4;
        margin: 0;
    }
    @media print {
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }